body {
    background-color: rgb(65, 155, 190);
    font-weight: normal;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.425);
}

div {
    text-align: center;
    padding: 7px;
}

#botao {
    color: white;
    background-color: rgb(65, 155, 190);
    border-radius: 10px;
}

footer {
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: blue;
}